.App {
  display: flex;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #0d1117;
}

.topBar {
  display: flex;
  background-color: #0d1117;
  height: 60px;
  align-items: center;
}

.topBarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.diskSpace {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.progressBar {
  width: 150px;
}

.logout {
  
}

.App-header2{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.main {
  height: 100vh;
  background-color: #0d1117;
  color: '#ffffff'
}

.folderview {
  display: flex;
  width: 100%;
}

.App-login{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0d1117;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #2f343d;
  width: 18%;
  padding: 18px 31px 8px 29px;
  background-color: #161b22;
  border-radius: 6px;
  height: 180px;
  margin-bottom: 170px;
}

.loginForm {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.loginForm input{
  display: block;
  color: rgb(61, 61, 61);
  padding: 5px;
  border-radius: 6px;
  border: transparent;
}

.form-submit {
  background-color: green;
  border: transparent;
  border-radius: 6px;
  width: 100%;
  height: 30px;
  color: '#ffffff'
}

.message {
  color: red;
  font-size: 14px;
}

.blank {
  height: 5px;
}

.logOutButton {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  height: 25px;
}

.foldersCard {
  margin-top: 50px;
  background-color: #161b22;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #2f343d;
  width: 40vw;
}

.foldersView {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.foldersHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: '#ffffff'
}

.foldersContent {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  height: 100%;
}

.singleFolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

.folderName {
  padding-left: 20px;
  text-decoration: none;
  color: rgb(201, 201, 201)
}

.folderImage {
  width: 30px;
  height: 30px;
}

.divider {
  border: 1px solid rgb(44, 44, 44);
}

.loader {
  margin-top: 200px;
}

.emptyFolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(max-width: 800px){
  .login{
    width: 90%;
    padding: 0;
  }

  .loginForm input {
    height: 20px;
  }
}
