
*{
  -ms-overflow-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 0;
  padding: 0px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #0d1117;
}

.topBar {
  display: flex;
  position: fixed;
  width: 100%;
  /*background-color: #0d1117;*/
  background: #0d1117;
  background: linear-gradient(0deg, rgb(2, 2, 17) 0%, rgba(11,19,42,1) 50%, rgb(17, 30, 49) 100%); 
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #101a29;
  z-index: 1;
}

.topBarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.diskSpace {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.progressBar {
  width: 150px;
}

.logout {
  display: flex;
}

.App-header2{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.main {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #0d1117;
  color: '#ffffff';
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.App-login{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0d1117;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #2f343d;
  width: 18%;
  padding: 18px 31px 8px 29px;
  background-color: #161b22;
  border-radius: 6px;
  height: 180px;
  margin-bottom: 170px;
}

.loginForm {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.loginForm input{
  display: block;
  color: rgb(61, 61, 61);
  padding: 5px;
  border-radius: 6px;
  border: transparent;
}

.form-submit {
  background-color: green;
  border: transparent;
  border-radius: 6px;
  width: 100%;
  height: 30px;
  color: '#ffffff'
}

.message {
  color: red;
  font-size: 14px;
}

.blank {
  height: 5px;
}

.logOutButton {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  height: 25px;
}

.foldersCard {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: #161b22;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #2f343d;
  width: 500px;
}

.foldersView {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;
}

.singleFolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

.folderNameSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation {
  position: absolute;
  width: 100%;
  top: 60px;
}

.arrowBack {
  padding: 10px;
}

.foldersHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  color: '#ffffff';
}

.foldersContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  margin: 0;
}

.folder {
  width: 100%
}

.singleFolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
}

.folderName {
  padding-left: 20px;
  text-decoration: none;
  color: rgb(201, 201, 201)
}

.folderName:hover {
  color: greenyellow
}

.folderImage {
  width: 30px;
  height: 30px;
}

.divider {
  border: 1px solid rgb(44, 44, 44);
}

.loader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.emptyFolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadFileForm {
  width: 300px;
  color: white;
}

.fileRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(44, 44, 44);
  max-width: 98vw;
}

.allFilesView {
  margin-top: 40px;
  height: 100%;
}

.filesView {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  overflow: auto;
  height: 400px;
}

#file-date {
  color: rgb(122, 122, 122);
  width: 50px;
  margin-right: 5px;
  font-size: 12px;
  overflow: hidden;
  border-right: 1px solid rgb(44, 44, 44);
}

#file-name {
  color: white;
  width: 110px;
  font-size: 12px;
  overflow: hidden;
  border-right: 1px solid rgb(44, 44, 44);
}

.deleteButton {
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
  margin-right: 7px;
  border: none;
  background: transparent;
  border-radius: 3px;
  height: 30px;
  width: 40px;
  color: #92abcf;
}

.downloadButton {
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
  border: none;
  background: transparent;
  border-radius: 3px;
  height: 30px;
  width: 40px;
  color: #92abcf;
}

.deleteButton:hover{
  color: rgb(255, 126, 126);
}

.downloadButton:hover {
  color: greenyellow;
}

.bottomPlayer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  align-items: center;
  width: 100%;
  height: 90px;
  background: #0d1117;
  background: linear-gradient(0deg, rgb(2, 2, 17) 0%, rgba(11,19,42,1) 50%, rgb(17, 30, 49) 100%);
}

@media(max-width: 920px){
  .login{
    width: 90%;
    padding: 0;
  }

  .foldersCard {
    width: 300px;
  }
}
